<div id="example-modal"
     class="mt-Modal"
     data-modal="modal"
     style="">

    <div class="mt-Modal-header">
        <h3 class="mt-Modal-title">{{ site.data.[component].data.modal_title }}</h3>
        <div class="mt-Modal-closeBtn" data-modal="close">
            <span class="icon-tancar2"></span>
        </div>
    </div>

    <div class="mt-Modal-body">
      {% include_relative {{ site.data.path.componentsSrc }}/mt-Modal/elements/mt-Modal-content.html %}
    </div>

    <div class="mt-Modal-footer">
        <input type="button" class="btn btn-s mgright10" value="Acció secundaria">
        <button class="btn btn-s btn-border-dark" data-modal="close">Acció alternativa</button>
    </div>
</div>
