<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

  {% if page.version == 'new' %}
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/style-guide.css">
  {% elsif page.version == 'prototype' %}
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/prototype.css">
  {% else %}
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/style-guide.css">
  {% endif %}

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic,600italic' rel='stylesheet' type='text/css'>
</head>
