{% capture componentUrl %}{{component}}/{{component}}.html{% endcapture %}
{% capture componentControlsUrl %}{{component}}/{{component}}-controls.html{% endcapture %}

<article class="drv-Card">
  <div class="drv-Card-section">
    <h2 class="drv-Card-title"><span>{{ site.data.[component].[component].Title }}</span></h2>
    {% if site.data.[component].[component].Description %}
      <p>{{ site.data.[component].[component].Description }}</p>
    {% endif %}

    {% if hasControls == true %}
      <div class="drv-Card-section drv-Card-controls">
        {% include {{ componentControlsUrl }} %}
      </div>
    {% endif %}

    {% include {{ componentUrl }} %}

  </div>

  {% if site.data.[component].[component].Code %}
  <div class="drv-Card-code">
    <pre><code class="html">
{{ site.data.[component].[component].Code }}
    </code></pre>

  </div>
    {% endif %}
</article>

