<p>Lorem ipsum dolor sit amet, <strong>strong text</strong> consectetur <b>bold text</b> adipisicing elit. Ut, incidunt, explicabo hic.</p>

<p>Lorem ipsum dolor sit amet, <em>emphazised text</em> consectetur <i>italic text</i> adipisicing elit. Ut, incidunt, atque!</p>

<p>Lorem ipsum dolor sit amet, <a href="#" class="link">text with link</a> consectetur adipisicing elit. Ut, incidunt, ullam, voluptatibus minus.</p>

<p>Lorem ipsum dolor sit amet, <code>code text</code> consectetur <mark>marked text</mark> adipisicing elit. Ut, incidunt, ullam, voluptatibus minus.</p>
