$font-stack-text: Arial, Verdana, sans-serif;
$font-stack-title: 'Source Sans Pro', Arial, Verdana, sans-serif;

$mq-mobile:             320px;
$mq-mobile-landscape:   480px;
$mq-tablet:             768px;
$mq-desktop:            970px;
$mq-wide:               1320px;


$z-overlay: 100;
$z-modal-header: 100;
$z-topbar: 10;

$anim-speed: .3s;
