$font-stackText: Arial, Verdana, sans-serif;
$font-stackTitle: 'Source Sans Pro', Arial, Verdana, sans-serif;

$mq-mobile:             320px;
$mq-mobile-landscape:   480px;
$mq-tablet:             768px;
$mq-desktop:            970px;
$mq-wide:               1320px;

// #FCFBF9
// #F5F0EC

// #666;
// #202020;
