
// TIPOGRAFIA

@font-face{
	font-family:'coches';
	font-style:normal;
	font-weight:300;
	src:url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGBlTL9oEQvYTI0YAW1-Ysv0.eot);
	src:url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGBlTL9oEQvYTI0YAW1-Ysv0.eot) format('embedded-opentype'), 
		url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff');
}
@font-face{
  font-family:'coches';
  font-style:normal;
  font-weight:600;
  src:url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGNanmHNzStikJN_FjplbBik.eot);
  src:url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGNanmHNzStikJN_FjplbBik.eot) format('embedded-opentype'), 
	  url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format('woff');
}

div, li, p{font-family:arial, verdana; font-size:16px; line-height:1.45}
b, strong, span{line-height:20px}
h1, h2, h3, h4, h5, h6{font-family:coches, arial, verdana; font-weight:300; color:#202020; padding:0; margin:0 0 20px 0; line-height:1.1}
h1{font-size:30px}
h2{font-size:26px}
h3{font-size:22px}
h4{font-size:18px}  
h5{font-size:18px} 
h6{font-size:18px}
p{margin:0 0 10px}

.font, .font span, .font p, .font b{font-family:coches, arial}
.font, .font span, .font p{font-weight:300}
.font b, .font strong{font-weight:600}
.fs20, .fs20 span{font-size:20px !important}
.fs25, .fs25 span{font-size:25px !important}
.fs30, .fs30 span{font-size:30px !important}
.fs40, .fs40 span{font-size:40px !important; line-height: 45px}
.fs50, .fs50 span{font-size:50px !important} 
.bold{font-weight:700 !important}