$bg-overlay: #000000;
$max-opacity-overlay: .7;

$z-overlay: $z-overlay;
$anim-speed-overlay: $anim-speed;


// OVERLAY SUI
// ----------------------------------------------------------------------------
.mt-Overlay {
  animation-name: fadeOut;
  animation-duration: $anim-speed-overlay;
  animation-fill-mode: forwards;

  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-overlay;

  .is--mt-Overlay-visible & {
    animation-name: fadeIn;
  }
}


// OVERLAY MOTOR
// ----------------------------------------------------------------------------
.mt-Overlay {
  background-color: $bg-overlay;
}


// OVERLAY ANIMATION
// ----------------------------------------------------------------------------
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  100% {
    opacity: $max-opacity-overlay;
  }
}

@keyframes fadeOut {
  from {
    opacity: $max-opacity-overlay;
  }

  100% {
    opacity: 0;
  }
}

