$mq-desktop:            970px;
$f-coches: 'coches';
$font: $f-coches;
$lightest-grey-color:   #fcfaf9;
$lighter-grey-color:    #f5f0ec;
$light-grey-color:      #e1dedc;
$grey-color:            #c7c3c0;
$dark-grey-color:       #999;
$darker-grey-color:     #333;
$darkest-grey-color:    #202020;
$link-color: #4585f2;
$link-hover-color:darken( $link-color, 5% );


// TOPBAR
// ----------------------------------------------------------------------------
.topbar {

    // LAYOUT
    // --------------------------------------------------------
    .pull {
        display: none;
    }

    // LOGO
    // --------------------------------------------------------
    &_logo-wrap {
        background: #fff;
        padding-left: 24px;
        height: 64px;
    }
    &_logo {
        // Image replacement
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
        text-indent: 200%;
        overflow: hidden;
        white-space: nowrap;

        .lt-ie8 & {
            text-indent: -100%;
        }
        // --

        background-image: url(../img/sprite2015.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 148px;
        height: 64px;

        @media screen and (min-device-pixel-ratio: 1.5) {
            background-image: url(/m2/images/sprite2015-x2.png);
            background-size: 148px auto;
        }
    }
}


// DESKTOP STYLES
// ----------------------------------------------------------------------------
@media only screen and (min-width: $mq-desktop) {
    .topbar {
        background: #fff;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);


        // LAYOUT
        // --------------------------------------------------------
        &_logo-wrap {
            float: left;
        }
        &_menus {
            padding-left: 180px;
            padding-right: 24px;
            width: 100%;
        }
        &_user {
            float: right;
            margin-right: 16px;
        }

        &_main-nav {
            float: left;
        }

        &_pta {
            float: right;
        }


        // LOGO
        // --------------------------------------------------------
        &_logo {
        }


        // USER
        // --------------------------------------------------------
        &_user {
            position: relative;

            > .user-thumb {
                font-size: 14px;
                padding: 14px 8px;

                .user-thumb_name {
                    max-width: 100px;
                }
            }
            &.drop-bubble_wrap {
                > a:before,
                > span:before {
                    left: 26px;
                }
            }
            .drop-bubble {
                margin-right: -32px;
                position: absolute;
                    right: 100%;
                transform: translateX(50%);
                min-width: 230px;
            }
        }


        // MAIN NAV
        // --------------------------------------------------------
        &_main-nav {
            > ul {
                > li {
                    float: left;

                    > .nav_btn {
                        cursor: default;
                        background-color:transparent;
                        padding: 24px 12px;
                        transition: all .2s ease-in-out;

                        [class^="icon-"] {
                            display: none;
                        }
                    }
                }
            }
            .nav_btn {
                font-size: 16px;
                line-height: 16px;

                &.has--border-top {
                    border-top: none;
                }
            }
            .drop-bubble {
                white-space: nowrap;
            }
        }

        // PTA
        // --------------------------------------------------------
        &_pta {
            padding: 16px 0;

            .btn {
                display: block;
                line-height: 24px;
                padding: 4px 12px;
                height: 32px;

                &:active:not(.btn-disabled):not(.btn-border-dark):not(.btn-border-light){
                    padding: 4px 12px;
                }
            }
        }
    }
}


// MOBILE STYLES
// ----------------------------------------------------------------------------
@media only screen and (max-width: $mq-desktop) {
    body {
        padding-top: 64px;
    }
    .topbar {
        &_logo-wrap {
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
            padding-left: 0;
        }
        .nav-slide_open-btn {
            float: left;
            padding: 20px 16px;
        }

        &.nav-slide {
            .user-thumb {
                color: white;
                padding: 24px 16px;
            }
            .drop-bubble {
                border: 0;
                position: static;

                &:before {
                    display: none;
                }
            }
            .btn {
                background: transparent;
                border: 0;
                box-shadow: none;
                display: block;
                font-family: $font, arial, verdana;
                font-size: 18px;
                font-weight: 300;
                line-height: 24px;
                padding: 12px 20px;
                text-align: left;

                [class^="icon-"]{
                    color: $dark-grey-color;
                    font-size: 20px;
                    margin-right: 32px;
                }
                &,
                &:visited {
                    &,
                    [class^="icon-"] {
                        color: $link-color !important;
                    }
                }
                &:hover,
                &:focus {
                    &,
                    [class^="icon-"] {
                        color: $link-hover-color !important;
                    }
                }
            }
        }
    }
}
