html {
  font-size: 100%; }

body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl {
  margin-top: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", Arial, Verdana, sans-serif; }

code {
  background: #EEF6F9;
  color: #E84C3D;
  font-weight: 600; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background-color: #F5F0EC;
  margin: 0; }

.drv-Wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 970px; }

header .content {
  margin-right: 20px;
  margin-left: 20px; }

.page {
  max-width: 970px;
  width: 100%; }

.side {
  width: 300px;
  float: right;
  display: none; }

.grid {
  width: 100%;
  min-width: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 10px; }

[class*='grid-'] {
  width: auto;
  float: none; }

@media only screen and (min-width: 480px) {
  .row {
    margin-left: -1%;
    margin-right: -1%;
    zoom: 1; }
    .row:before, .row:after {
      display: table;
      content: " "; }
    .row:after {
      clear: both; }
  [class*='grid-'] {
    margin-left: 1%;
    margin-right: 1%;
    float: left; }
  .grid-1 {
    width: 6.333%; }
  .grid-2 {
    width: 14.667%; }
  .grid-3 {
    width: 23.0%; }
  .grid-4 {
    width: 31.333%; }
  .grid-5 {
    width: 39.667%; }
  .grid-6 {
    width: 48.0%; }
  .grid-7 {
    width: 56.333%; }
  .grid-8 {
    width: 64.667%; }
  .grid-9 {
    width: 73.0%; }
  .grid-10 {
    width: 81.333%; }
  .grid-11 {
    width: 89.667%; }
  .grid-12 {
    width: 98.0%; } }

@media only screen and (min-width: 970px) {
  .content {
    max-width: 970px;
    margin-right: auto !important;
    margin-left: auto !important; } }

@media only screen and (min-width: 1320px) {
  .side {
    display: block;
    float: right; }
  .content {
    max-width: 1280px; }
  .page {
    float: left; }
  .bannerless .content {
    max-width: 970px; }
  .bannerless .page {
    float: none; } }

.drv-PageHero {
  background-color: #FCFBF9;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 2.5rem;
  padding: 3rem; }
  .drv-PageHero-title {
    color: #666;
    font-size: 3rem;
    font-weight: 300;
    line-height: 4rem;
    margin-bottom: 1.25rem; }
  .drv-PageHero-text {
    color: #202020;
    font-family: "Source Sans Pro", Arial, Verdana, sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem; }
    .drv-PageHero-text p {
      margin-bottom: 0; }

.drv-Card {
  background-color: #FFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.75rem; }
  .drv-Card-section {
    padding: 1.75rem; }
    .drv-Card-section > p {
      margin-bottom: 1rem; }
  .drv-Card-title {
    color: #202020;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    position: relative; }
    .drv-Card-title span {
      background-color: #FFF;
      display: inline-block;
      padding-right: 1.75rem;
      position: relative; }
    .drv-Card-title:before {
      content: '';
      border-top: 2px solid #dedede;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 0; }
  .drv-Card-subtitle {
    color: #202020;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-bottom: .5rem;
    margin-top: 2rem; }
  .drv-Card-code code {
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    border-left: 10px solid rgba(0, 0, 0, 0.1);
    color: #000;
    display: block;
    font-weight: 300;
    padding-top: 0;
    padding-right: 1.25rem;
    padding-bottom: 0;
    padding-left: 1.25rem; }
  .drv-Card-code .hljs-tag,
  .drv-Card-code .hljs-title {
    color: #080072; }
  .drv-Card-code .hljs-value {
    font-weight: bold;
    color: #E84C3D; }
  .drv-Card-code .hljs-comment {
    font-weight: bold;
    color: #008800; }
  .drv-Card-code .hljs-number,
  .drv-Card-code .hljs-date,
  .drv-Card-code .hljs-regexp,
  .drv-Card-code .hljs-literal,
  .drv-Card-code .hljs-hexcolor,
  .drv-Card-code .smalltalk .hljs-symbol,
  .drv-Card-code .smalltalk .hljs-char,
  .drv-Card-code .go .hljs-constant,
  .drv-Card-code .hljs-change,
  .drv-Card-code .lasso .hljs-variable,
  .drv-Card-code .makefile .hljs-variable,
  .drv-Card-code .asciidoc .hljs-bullet,
  .drv-Card-code .markdown .hljs-bullet,
  .drv-Card-code .asciidoc .hljs-link_url,
  .drv-Card-code .markdown .hljs-link_url {
    color: #080; }
  .drv-Card-code .hljs-label,
  .drv-Card-code .hljs-javadoc,
  .drv-Card-code .ruby .hljs-string,
  .drv-Card-code .hljs-decorator,
  .drv-Card-code .hljs-filter .hljs-argument,
  .drv-Card-code .hljs-localvars,
  .drv-Card-code .hljs-array,
  .drv-Card-code .hljs-attr_selector,
  .drv-Card-code .hljs-important,
  .drv-Card-code .hljs-pseudo,
  .drv-Card-code .hljs-pi,
  .drv-Card-code .haml .hljs-bullet,
  .drv-Card-code .hljs-doctype,
  .drv-Card-code .hljs-deletion,
  .drv-Card-code .hljs-envvar,
  .drv-Card-code .hljs-shebang,
  .drv-Card-code .apache .hljs-sqbracket,
  .drv-Card-code .nginx .hljs-built_in,
  .drv-Card-code .tex .hljs-formula,
  .drv-Card-code .erlang_repl .hljs-reserved,
  .drv-Card-code .hljs-prompt,
  .drv-Card-code .asciidoc .hljs-link_label,
  .drv-Card-code .markdown .hljs-link_label,
  .drv-Card-code .vhdl .hljs-attribute,
  .drv-Card-code .clojure .hljs-attribute,
  .drv-Card-code .asciidoc .hljs-attribute,
  .drv-Card-code .lasso .hljs-attribute,
  .drv-Card-code .coffeescript .hljs-property,
  .drv-Card-code .hljs-phony {
    color: #88F; }
  .drv-Card-code .hljs-keyword,
  .drv-Card-code .hljs-id,
  .drv-Card-code .hljs-title,
  .drv-Card-code .hljs-built_in,
  .drv-Card-code .hljs-aggregate,
  .drv-Card-code .css .hljs-tag,
  .drv-Card-code .hljs-javadoctag,
  .drv-Card-code .hljs-phpdoc,
  .drv-Card-code .hljs-yardoctag,
  .drv-Card-code .smalltalk .hljs-class,
  .drv-Card-code .hljs-winutils,
  .drv-Card-code .bash .hljs-variable,
  .drv-Card-code .apache .hljs-tag,
  .drv-Card-code .go .hljs-typename,
  .drv-Card-code .tex .hljs-command,
  .drv-Card-code .asciidoc .hljs-strong,
  .drv-Card-code .markdown .hljs-strong,
  .drv-Card-code .hljs-request,
  .drv-Card-code .hljs-status {
    font-weight: bold; }
  .drv-Card-code .asciidoc .hljs-emphasis,
  .drv-Card-code .markdown .hljs-emphasis {
    font-style: italic; }
  .drv-Card-code .nginx .hljs-built_in {
    font-weight: normal; }
  .drv-Card-code .coffeescript .javascript,
  .drv-Card-code .javascript .xml,
  .drv-Card-code .lasso .markup,
  .drv-Card-code .tex .hljs-formula,
  .drv-Card-code .xml .javascript,
  .drv-Card-code .xml .vbscript,
  .drv-Card-code .xml .css,
  .drv-Card-code .xml .hljs-cdata {
    opacity: 0.5; }

.drv-ColorList {
  list-style: none;
  margin: 0;
  padding: 0; }
  .drv-ColorList > li {
    margin-bottom: 1rem; }

.drv-ColorSample {
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5rem;
  padding: 1.25rem;
  text-align: center; }
  .drv-ColorSample > :last-child {
    margin-bottom: 0; }

.drv-ColorSample-name {
  margin-bottom: .25rem; }

.drv-ColorSample-code {
  font-weight: 600; }

.btn {
  background-color: #e74c3d;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font: 600 17px/20px Coches, Verdana;
  margin: 0;
  outline: none;
  padding: 13px 55px;
  position: relative;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-in-out;
          transition: background-color 0.2s ease-in-out;
  -webkit-appearance: none; }
  .btn:hover:not(.btn-disabled) {
    background: #ea6154;
    text-decoration: none !important;
    color: #FFF !important;
    border-color: transparent; }
  .btn:active:not(.btn-disabled):not(.btn-border-dark):not(.btn-border-light) {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    top: 1px;
    padding: 13px 55px 13px; }
  .btn [class^="icon-"] {
    font-size: 17px;
    margin: 0 10px 0 0;
    vertical-align: middle; }

.btn-secondary {
  background-color: #4585f2; }
  .btn-secondary:hover:not(.btn-disabled) {
    background-color: #5d95f4; }

.btn-tertiary {
  background-color: #999; }
  .btn-tertiary:hover:not(.btn-disabled) {
    background-color: #a6a6a6; }

.btn-border-light {
  box-shadow: none;
  background-color: transparent;
  color: #fff !important;
  border-color: #fff; }
  .btn-border-light:hover:not(.btn-disabled) {
    border-color: white;
    background-color: white;
    color: #333 !important; }

.btn-border-dark {
  box-shadow: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.8) !important;
  border-color: rgba(0, 0, 0, 0.2); }
  .btn-border-dark:hover:not(.btn-disabled) {
    border-color: rgba(0, 0, 0, 0.8);
    background-color: transparent;
    color: rgba(0, 0, 0, 0.9) !important; }

.btn-m {
  padding: 10px 25px; }
  .btn-m:active:not(.btn-disabled):not(.btn-border-dark):not(.btn-border-light) {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    top: 1px;
    padding: 10px 25px 9px; }

.btn-s {
  padding: 3px 15px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  font-size: 14px; }
  .btn-s:active:not(.btn-disabled):not(.btn-border-dark):not(.btn-border-light) {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.15);
    top: 1px;
    padding: 3px 15px 2px; }
  .btn-s [class^="icon-"] {
    font-size: 14px;
    margin: 0 5px 0 0; }

.btn-icon {
  font-size: 12px;
  text-align: center;
  font-family: 'coches', Verdana, Arial;
  text-decoration: none; }
  .btn-icon [class^="icon-"] {
    font-size: 25px;
    display: block;
    margin: 0 auto; }
  .btn-icon:hover {
    border: none; }

.btn-disabled {
  cursor: default;
  box-shadow: none; }

input.btn.block {
  width: 100%; }
