.red-color {
  color: #e74c3d !important; }

.blue-color {
  color: #4585f2 !important; }

.grey-color {
  color: #c7c3c0 !important; }

.light-grey-color {
  color: #e1dedc !important; }

.turquoise-color {
  color: #007a87 !important; }

.orange-color {
  color: #F39C12 !important; }

.green-color {
  color: #27AE60 !important; }

.red-bg {
  background-color: #e74c3d !important;
  color: #fff; }

.blue-bg {
  background-color: #4585f2 !important;
  color: #fff; }

.grey-bg {
  background-color: #c7c3c0 !important;
  color: #fff; }

.light-grey-bg {
  background-color: #e1dedc !important;
  color: #333; }

.turquoise-bg {
  background-color: #007a87 !important;
  color: #FFF; }

.orange-bg {
  background-color: #F39C12 !important;
  color: #fff; }

.green-bg {
  background-color: #27AE60 !important;
  color: #fff; }

footer {
  display: none; }

/* Tablets and up */
@media only screen and (min-width: 768px) {
  footer {
    display: block; }
  #social {
    background: #E2DEDD;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); }
    #social .fleft a {
      display: inline-block;
      width: 70px;
      height: 80px;
      color: #7C7C7C;
      line-height: 75px;
      text-align: center;
      float: left;
      font-size: 22px; }
      #social .fleft a span {
        vertical-align: middle; }
      #social .fleft a:hover span {
        color: #fff; }
    #social .fleft .separator {
      display: inline-block;
      width: 1px;
      height: 50px;
      background-color: #D1CDCC;
      vertical-align: middle;
      float: left;
      margin-top: 15px; }
    #social .facebook:hover {
      background-color: #3b5998; }
    #social .twitter:hover {
      background-color: #00aced; }
    #social .google:hover {
      background-color: #dd4b39; }
    #social .youtube:hover {
      background-color: #bb0000; }
    #social .fright {
      padding: 20px 20px 10px; }
      #social .fright h3 {
        margin: 0 20px 0 0;
        color: #7C7C7C;
        line-height: 40px;
        font-size: 16px; }
      #social .fright input {
        width: 150px;
        border-radius: 3px 0 0 3px;
        font-size: 15px;
        height: 37px;
        float: left;
        border: none;
        margin: 0; }
  .go-input {
    float: left;
    border-radius: 0 3px 3px 0;
    background-color: #F5F0EC; }
    .go-input span {
      color: #85807D;
      line-height: 37px;
      padding: 0 10px;
      font-size: 15px; }
  #footer-links {
    margin-top: 40px; }
    #footer-links a {
      color: #aaa;
      font: 14px/25px coches, arial, verdana; }
      #footer-links a:hover {
        color: #333; }
    #footer-links ul {
      margin-right: 30px; }
    #footer-links .appstore,
    #footer-links .playstore {
      border: 1px solid #D1CDCC;
      border-radius: 3px;
      width: 140px;
      height: 50px;
      display: inline-block;
      margin-right: 20px; }
    #footer-links .appstore {
      background: url(/img/sprite2015.png) no-repeat 0 -68px; }
    #footer-links .playstore {
      background: url(/img/sprite2015.png) no-repeat 0 -118px; }
  #schibsted {
    margin: 40px 0; }
    #schibsted p,
    #schibsted a {
      font: 14px/25px coches, arial, verdana;
      color: #aaa; }
    #schibsted a:hover {
      border: none; }
  .logo-schibsted {
    display: inline-block;
    width: 140px;
    height: 30px;
    background: url(../img/sprite2015.png) no-repeat 0 -162px;
    margin-bottom: 20px; } }

/* page(980) + (20 marginleft + 20 marginright) and up */
@media only screen and (min-width: 1020px) {
  #social .fright h3 {
    font-size: 24px; }
  #social .fright input {
    width: 200px; }
  #social .fleft a {
    width: 80px; }
  #footer-links ul {
    margin-right: 50px; }
  #footer-links a {
    font-size: 16px; } }

.topbar .pull {
  display: none; }

.topbar_logo-wrap {
  background: #fff;
  padding-left: 24px;
  height: 64px; }

.topbar_logo {
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url(../img/sprite2015.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 148px;
  height: 64px; }
  .lt-ie8 .topbar_logo {
    text-indent: -100%; }
  @media screen and (min-device-pixel-ratio: 1.5) {
    .topbar_logo {
      background-image: url(/m2/images/sprite2015-x2.png);
      background-size: 148px auto; } }

@media only screen and (min-width: 970px) {
  .topbar {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); }
    .topbar_logo-wrap {
      float: left; }
    .topbar_menus {
      padding-left: 180px;
      padding-right: 24px;
      width: 100%; }
    .topbar_user {
      float: right;
      margin-right: 16px; }
    .topbar_main-nav {
      float: left; }
    .topbar_pta {
      float: right; }
    .topbar_user {
      position: relative; }
      .topbar_user > .user-thumb {
        font-size: 14px;
        padding: 14px 8px; }
        .topbar_user > .user-thumb .user-thumb_name {
          max-width: 100px; }
      .topbar_user.drop-bubble_wrap > a:before,
      .topbar_user.drop-bubble_wrap > span:before {
        left: 26px; }
      .topbar_user .drop-bubble {
        margin-right: -32px;
        position: absolute;
        right: 100%;
        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%);
        min-width: 230px; }
    .topbar_main-nav > ul > li {
      float: left; }
      .topbar_main-nav > ul > li > .nav_btn {
        cursor: default;
        background-color: transparent;
        padding: 24px 12px;
        -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out; }
        .topbar_main-nav > ul > li > .nav_btn [class^="icon-"] {
          display: none; }
    .topbar_main-nav .nav_btn {
      font-size: 16px;
      line-height: 16px; }
      .topbar_main-nav .nav_btn.has--border-top {
        border-top: none; }
    .topbar_main-nav .drop-bubble {
      white-space: nowrap; }
    .topbar_pta {
      padding: 16px 0; }
      .topbar_pta .btn {
        display: block;
        line-height: 24px;
        padding: 4px 12px;
        height: 32px; }
        .topbar_pta .btn:active:not(.btn-disabled):not(.btn-border-dark):not(.btn-border-light) {
          padding: 4px 12px; } }

@media only screen and (max-width: 970px) {
  body {
    padding-top: 64px; }
  .topbar_logo-wrap {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    padding-left: 0; }
  .topbar .nav-slide_open-btn {
    float: left;
    padding: 20px 16px; }
  .topbar.nav-slide .user-thumb {
    color: white;
    padding: 24px 16px; }
  .topbar.nav-slide .drop-bubble {
    border: 0;
    position: static; }
    .topbar.nav-slide .drop-bubble:before {
      display: none; }
  .topbar.nav-slide .btn {
    background: transparent;
    border: 0;
    box-shadow: none;
    display: block;
    font-family: "coches", arial, verdana;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    padding: 12px 20px;
    text-align: left; }
    .topbar.nav-slide .btn [class^="icon-"] {
      color: #999;
      font-size: 20px;
      margin-right: 32px; }
    .topbar.nav-slide .btn,
    .topbar.nav-slide .btn [class^="icon-"],
    .topbar.nav-slide .btn:visited,
    .topbar.nav-slide .btn:visited [class^="icon-"] {
      color: #4585f2 !important; }
    .topbar.nav-slide .btn:hover,
    .topbar.nav-slide .btn:hover [class^="icon-"],
    .topbar.nav-slide .btn:focus,
    .topbar.nav-slide .btn:focus [class^="icon-"] {
      color: #2d75f0 !important; } }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background-color: #F5F0EC;
  margin: 0; }

.drv-Wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 970px; }

html {
  font-size: 100%;
  font-size: 100%; }

body {
  color: #000;
  font-family: Arial, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300; }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
ul,
ol,
dl {
  margin-top: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #202020;
  font-family: "Source Sans Pro", Arial, Verdana, sans-serif;
  font-weight: 300; }

h1,
.h1 {
  font-size: 1.875rem;
  line-height: 2rem;
  margin-bottom: 1.5rem; }

h2,
.h2 {
  font-size: 1.625rem;
  line-height: 1.75rem;
  margin-bottom: 1.25rem; }

h3,
.h3 {
  font-size: 1.375rem;
  line-height: 1.5rem;
  margin-bottom: 1rem; }

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-size: 1.125rem;
  line-height: 1.25rem;
  margin-bottom: 1rem; }

code {
  background: #EEF6F9;
  color: #E84C3D;
  font-weight: 600; }

.drv-PageHero {
  background-color: #FCFBF9;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 2.5rem;
  padding: 3rem; }
  .drv-PageHero-title {
    color: #666;
    font-size: 3rem;
    font-weight: 300;
    line-height: 4rem;
    margin-bottom: 1.25rem; }
  .drv-PageHero-text {
    color: #202020;
    font-family: "Source Sans Pro", Arial, Verdana, sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem; }
    .drv-PageHero-text p {
      margin-bottom: 0; }

.drv-Card {
  background-color: #fdfdfd;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.75rem; }
  .drv-Card-header {
    color: #202020;
    font-family: "Source Sans Pro", Arial, Verdana, sans-serif;
    font-weight: 300;
    font-size: 1.25rem; }
  .drv-Card-section {
    padding: 1.75rem; }
    .drv-Card-section > p {
      margin-bottom: 1rem; }
  .drv-Card-title {
    margin-bottom: 2rem;
    position: relative; }
    .drv-Card-title span {
      background-color: #fdfdfd;
      display: inline-block;
      padding-right: 1.25rem;
      position: relative; }
    .drv-Card-title:before {
      content: '';
      border-top: 2px solid #dedede;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 0; }
  .drv-Card-subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-bottom: .5rem;
    margin-top: 2rem; }
  .drv-Card-example {
    background-color: #FFF;
    border: 1px solid #DEDEDE;
    border-radius: 0.25rem 0.25rem 0 0;
    overflow: hidden;
    padding: 2rem 1rem 1rem;
    position: relative; }
    .drv-Card-example:before {
      color: #999;
      content: 'example';
      font-size: 0.75rem;
      font-weight: bold;
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      text-transform: uppercase; }
  .drv-Card-codeToggleBtn {
    background-color: #f9fcfd;
    border: 1px solid #DEDEDE;
    border-top-width: 0;
    color: #999;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.25rem 2rem;
    position: relative;
    text-align: right;
    text-transform: uppercase; }
    .drv-Card-codeToggleBtn:before,
    .drv-Card-codeToggleBtn:after {
      content: "";
      -webkit-transition: -webkit-transform 0.25s ease-in-out;
              transition: transform 0.25s ease-in-out;
      position: absolute;
      background-color: #999;
      width: 2px;
      height: 9px;
      right: 1rem;
      top: .75rem; }
    .drv-Card-codeToggleBtn:before {
      -webkit-transform: translate(3px, 0) rotate(45deg);
          -ms-transform: translate(3px, 0) rotate(45deg);
              transform: translate(3px, 0) rotate(45deg); }
    .drv-Card-codeToggleBtn:after {
      -webkit-transform: translate(-3px, 0) rotate(-45deg);
          -ms-transform: translate(-3px, 0) rotate(-45deg);
              transform: translate(-3px, 0) rotate(-45deg); }
    .drv-Card-codeToggleBtn.is--open:before {
      -webkit-transform: translate(-3px, 0) rotate(45deg);
          -ms-transform: translate(-3px, 0) rotate(45deg);
              transform: translate(-3px, 0) rotate(45deg); }
    .drv-Card-codeToggleBtn.is--open:after {
      -webkit-transform: translate(3px, 0) rotate(-45deg);
          -ms-transform: translate(3px, 0) rotate(-45deg);
              transform: translate(3px, 0) rotate(-45deg); }
  .drv-Card-code {
    background: #EEF6F9;
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.1);
    display: block;
    position: relative;
    -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
            transform-origin: 50% 0;
    overflow: hidden;
    display: block; }
    .js .drv-Card-code {
      display: none; }
    .drv-Card-code pre {
      margin: 0; }
    .drv-Card-code code {
      background-color: transparent;
      border: 1px solid #DEDEDE;
      border-left: 10px solid rgba(0, 0, 0, 0.1);
      color: #000;
      display: block;
      font-weight: 300;
      padding-top: 0;
      padding-right: 1.25rem;
      padding-bottom: 0;
      padding-left: 1.25rem;
      white-space: pre-wrap; }
    .drv-Card-code .hljs-tag,
    .drv-Card-code .hljs-title {
      color: #080072; }
    .drv-Card-code .hljs-value {
      font-weight: bold;
      color: #E84C3D; }
    .drv-Card-code .hljs-comment {
      font-weight: bold;
      color: #008800; }
    .drv-Card-code .hljs-number,
    .drv-Card-code .hljs-date,
    .drv-Card-code .hljs-regexp,
    .drv-Card-code .hljs-literal,
    .drv-Card-code .hljs-hexcolor,
    .drv-Card-code .smalltalk .hljs-symbol,
    .drv-Card-code .smalltalk .hljs-char,
    .drv-Card-code .go .hljs-constant,
    .drv-Card-code .hljs-change,
    .drv-Card-code .lasso .hljs-variable,
    .drv-Card-code .makefile .hljs-variable,
    .drv-Card-code .asciidoc .hljs-bullet,
    .drv-Card-code .markdown .hljs-bullet,
    .drv-Card-code .asciidoc .hljs-link_url,
    .drv-Card-code .markdown .hljs-link_url {
      color: #080; }
    .drv-Card-code .hljs-label,
    .drv-Card-code .hljs-javadoc,
    .drv-Card-code .ruby .hljs-string,
    .drv-Card-code .hljs-decorator,
    .drv-Card-code .hljs-filter .hljs-argument,
    .drv-Card-code .hljs-localvars,
    .drv-Card-code .hljs-array,
    .drv-Card-code .hljs-attr_selector,
    .drv-Card-code .hljs-important,
    .drv-Card-code .hljs-pseudo,
    .drv-Card-code .hljs-pi,
    .drv-Card-code .haml .hljs-bullet,
    .drv-Card-code .hljs-doctype,
    .drv-Card-code .hljs-deletion,
    .drv-Card-code .hljs-envvar,
    .drv-Card-code .hljs-shebang,
    .drv-Card-code .apache .hljs-sqbracket,
    .drv-Card-code .nginx .hljs-built_in,
    .drv-Card-code .tex .hljs-formula,
    .drv-Card-code .erlang_repl .hljs-reserved,
    .drv-Card-code .hljs-prompt,
    .drv-Card-code .asciidoc .hljs-link_label,
    .drv-Card-code .markdown .hljs-link_label,
    .drv-Card-code .vhdl .hljs-attribute,
    .drv-Card-code .clojure .hljs-attribute,
    .drv-Card-code .asciidoc .hljs-attribute,
    .drv-Card-code .lasso .hljs-attribute,
    .drv-Card-code .coffeescript .hljs-property,
    .drv-Card-code .hljs-phony {
      color: #88F; }
    .drv-Card-code .hljs-keyword,
    .drv-Card-code .hljs-id,
    .drv-Card-code .hljs-title,
    .drv-Card-code .hljs-built_in,
    .drv-Card-code .hljs-aggregate,
    .drv-Card-code .css .hljs-tag,
    .drv-Card-code .hljs-javadoctag,
    .drv-Card-code .hljs-phpdoc,
    .drv-Card-code .hljs-yardoctag,
    .drv-Card-code .smalltalk .hljs-class,
    .drv-Card-code .hljs-winutils,
    .drv-Card-code .bash .hljs-variable,
    .drv-Card-code .apache .hljs-tag,
    .drv-Card-code .go .hljs-typename,
    .drv-Card-code .tex .hljs-command,
    .drv-Card-code .asciidoc .hljs-strong,
    .drv-Card-code .markdown .hljs-strong,
    .drv-Card-code .hljs-request,
    .drv-Card-code .hljs-status {
      font-weight: bold; }
    .drv-Card-code .asciidoc .hljs-emphasis,
    .drv-Card-code .markdown .hljs-emphasis {
      font-style: italic; }
    .drv-Card-code .nginx .hljs-built_in {
      font-weight: normal; }
    .drv-Card-code .coffeescript .javascript,
    .drv-Card-code .javascript .xml,
    .drv-Card-code .lasso .markup,
    .drv-Card-code .tex .hljs-formula,
    .drv-Card-code .xml .javascript,
    .drv-Card-code .xml .vbscript,
    .drv-Card-code .xml .css,
    .drv-Card-code .xml .hljs-cdata {
      opacity: 0.5; }

/*# sourceMappingURL=main.css.map */