<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% assign component = 'drv-Topbar' %}
  <!-- {% include drv-Topbar/drv-Topbar.html %} -->

  {% assign component = 'drv-PageHero' %}
  <!-- {% include drv-PageHero/drv-PageHero.html %} -->


  <div class="drv-Wrapper">
    {{ content }}
  </div>

  {% assign component = 'ldrv-Sidebar' %}
  <!-- {% include ldrv-Sidebar/ldrv-Sidebar.html %} -->

  {% assign component = 'drv-Footer' %}
  <!-- {% include drv-Footer/drv-Footer.html %} -->


  {% include scripts-footer.html %}
</body>
</html>
