<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% include ldrv-Topbar/ldrv-Topbar.html %}

  {% include drv-PageHero/drv-PageHero.html %}


  <div class="drv-Wrapper">
    {{ content }}
  </div>

  {% include ldrv-Sidebar/ldrv-Sidebar.html %}

  {% include ldrv-Footer/ldrv-Footer.html %}

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <script src="js/drive.min.js"></script>
</body>
</html>
