<!DOCTYPE html>
<html lang="en">

{% include_relative {{ site.data.path.includesSrc }}/head.html %}


<body>

  {% include_relative {{ site.data.path.componentsSrc }}/drv-Topbar/drv-Topbar.html component='drv-Topbar' %}

  {% include_relative {{ site.data.path.componentsSrc }}/drv-PageHero/drv-PageHero.html component='drv-PageHero' %}


  <div class="drv-Wrapper">
    {{ content }}
  </div>

  <!-- {#% include ldrv-Sidebar/ldrv-Sidebar.html %#} -->

  {% include_relative {{ site.data.path.componentsSrc }}/drv-Footer/drv-Footer.html component='drv-Footer' %}

  {% include_relative {{ site.data.path.includesSrc }}/scripts-footer.html %}
</body>
</html>
