@font-face {
	font-family: 'motor-icons';
	src:url('/fonts/icomoon.eot');
	src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/fonts/icomoon.woff') format('woff'),
		url('/fonts/icomoon.ttf') format('truetype'),
		url('/fonts/icomoon.svg#icomoon') format('svg'); 
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'motor-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1.4;
    /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-alerta:before {
  content: "\E001"
}
.icon-android:before {
  content: "\E002"
}
.icon-anunci:before {
  content: "\E003"
}
.icon-apple:before {
  content: "\E004"
}
.icon-bell:before {
  content: "\E005"
}
.icon-borrar:before {
  content: "\E006"
}
.icon-calendari:before {
  content: "\E007"
}
.icon-candau-obert:before {
  content: "\E008"
}
.icon-candau:before {
  content: "\E009"
}
.icon-check:before {
  content: "\E00A"
}
.icon-coche:before {
  content: "\E00B"
}
.icon-comentaris:before {
  content: "\E00C"
}
.icon-contactar:before {
  content: "\E00D"
}
.icon-down:before {
  content: "\E00E"
}
.icon-dreta:before {
  content: "\E00F"
}
.icon-editar-perfil:before {
  content: "\E010"
}
.icon-editar:before {
  content: "\E011"
}
.icon-esquerra:before {
  content: "\E012"
}
.icon-estadistiques:before {
  content: "\E013"
}
.icon-estadistiques2:before {
  content: "\E014"
}
.icon-estrella2:before {
  content: "\E015"
}
.icon-facebook:before {
  content: "\E016"
}
.icon-fichas-tecnicas:before {
  content: "\E017"
}
.icon-filtros:before {
  content: "\E018"
}
.icon-fotos:before {
  content: "\E019"
}
.icon-fotos2:before {
  content: "\E01A"
}
.icon-fullscreen:before {
  content: "\E01B"
}
.icon-ghost:before {
  content: "\E01C"
}
.icon-google:before {
  content: "\E01D"
}
.icon-graella:before {
  content: "\E01E"
}
.icon-imprimir:before {
  content: "\E01F"
}
.icon-info:before {
  content: "\E020"
}
.icon-like:before {
  content: "\E021"
}
.icon-likeblack:before {
  content: "\E022"
}
.icon-link:before {
  content: "\E023"
}
.icon-location:before {
  content: "\E024"
}
.icon-loop:before {
  content: "\E025"
}
.icon-lupa:before {
  content: "\E026"
}
.icon-mail:before {
  content: "\E027"
}
.icon-mailetter:before {
  content: "\E028"
}
.icon-mailopen:before {
  content: "\E029"
}
.icon-menu:before {
  content: "\E02A"
}
.icon-nolike:before {
  content: "\E02B"
}
.icon-noticies:before {
  content: "\E02C"
}
.icon-ok:before {
  content: "\E02D"
}
.icon-ordenar:before {
  content: "\E02E"
}
.icon-play:before {
  content: "\E02F"
}
.icon-portatil:before {
  content: "\E030"
}
.icon-pregunta:before {
  content: "\E031"
}
.icon-premi:before {
  content: "\E032"
}
.icon-refresh:before {
  content: "\E033"
}
.icon-registre:before {
  content: "\E034"
}
.icon-reload:before {
  content: "\E035"
}
.icon-servicios:before {
  content: "\E036"
}
.icon-share:before {
  content: "\E037"
}
.icon-smartphone:before {
  content: "\E038"
}
.icon-suggest:before {
  content: "\E039"
}
.icon-suma:before {
  content: "\E03A"
}
.icon-tablet:before {
  content: "\E03B"
}
.icon-talk:before {
  content: "\E03C"
}
.icon-tancar:before {
  content: "\E03D"
}
.icon-tancar2:before {
  content: "\E03E"
}
.icon-telefon:before {
  content: "\E03F"
}
.icon-telefon2:before {
  content: "\E040"
}
.icon-time:before {
  content: "\E041"
}
.icon-tornar:before {
  content: "\E042"
}
.icon-twitter:before {
  content: "\E043"
}
.icon-up:before {
  content: "\E044"
}
.icon-user-following:before {
  content: "\E045"
}
.icon-user-unfollow:before {
  content: "\E046"
}
.icon-user:before {
  content: "\E047"
}
.icon-users:before {
  content: "\E048"
}
.icon-video:before {
  content: "\E049"
}
.icon-visites:before {
  content: "\E04A"
}
.icon-xarxes:before {
  content: "\E04B"
}
.icon-youtube:before {
  content: "\E04C"
}