<div class="mt-Modal-bodySection">
  <h2>Lorem ipsum dolor sit amet!</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis nulla vitae fringilla pharetra. Suspendisse tristique risus ut turpis varius auctor.</p>
</div>

<div class="mt-Modal-bodySection">
  <h3>¿Con qué periodicidad quieres recibir tu alerta?</h3>
</div>

<div class="mt-Modal-bodySection">
  <div class="mt-radio">
    <label class="mt-radio__label"><input type="radio" name="radios" id="radio1" data-days="1">Periodicidad cada día</label>
  </div>
</div>
