$color-sample-text: $c-neutro-lightest;


// COLOR LIST
// ----------------------------------------------------------------------------
.drv-ColorList {
  list-style: none;
  margin: 0;
  padding: 0;

  h2 {
    margin-top: 1rem;
  }

  > li {
    margin-bottom: 1rem;
  }
}

// COLOR LIST
// --------------------------------------------------------
.drv-ColorSample {
  border: 1px solid $c-neutro;
  color: $color-sample-text;
  position: relative;
  height: 9rem;

  > :last-child {
    margin-bottom: 0;
  }

  &-text {
    background: rgba(0, 0, 0, .3);
    line-height: 1.5rem;
    padding: .5rem 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    width: 100%;
  }

  &-name,
  &-code {
    margin-bottom: 0;
  }

  // COLORS
  // ------------------------------------
  &.is--neutro-lightest {
    background-color: $c-neutro-lightest;
  }

  &.is--neutro-lighter {
    background-color: $c-neutro-lighter;
  }

  &.is--neutro-light {
    background-color: $c-neutro-light;
  }

  &.is--neutro {
    background-color: $c-neutro;
  }

  &.is--neutro-dark {
    background-color: $c-neutro-dark;
  }

  &.is--neutro-darker {
    background-color: $c-neutro-darker;
  }

  &.is--neutro-darkest {
    background-color: $c-neutro-darkest;
  }

  &.is--blue {
    background-color: $c-blue;
  }

  &.is--blue-dark {
    background-color: $c-blue-dark;
  }

  &.is--yellow {
    background-color: $c-yellow;
  }

  &.is--yellow-lightest {
    background-color: $c-yellow-lightest;
  }

  &.is--red {
    background-color: $c-red;
  }

  &.is--green {
    background-color: $c-green;
  }
}
