$color-color-sample-text: #ffffff;

// COLOR LIST
// ----------------------------------------------------------------------------
.drv-ColorList {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    margin-bottom: 1rem;
  }
}

// COLOR LIST
// --------------------------------------------------------
.drv-ColorSample {
  color: $color-color-sample-text;
  position: relative;
  height: 8rem;

  > :last-child {
    margin-bottom: 0;
  }
}

.drv-ColorSample-code {
  background: rgba(0, 0, 0, .3);
  font-size: rem(18px);
  line-height: 1.5rem;
  padding: .5rem 1rem;
  position: absolute;
    bottom: 0;
    right: 0;
  text-transform: uppercase;
}

.drv-ColorSample-name {
  margin-bottom: .25rem;
}
