<!-- Default size -->
<p>
  <input type="button" class="btn fleft" value="Default" />
  <input type="button" class="btn btn-secondary fleft" value="Default" />
</p>

<!-- Middle size -->
<p>
  <input type="button" class="btn btn-m fleft" value="Middle" />
  <input type="button" class="btn btn-m btn-secondary fleft" value="Middle" />
</p>

<!-- Small size -->
<p>
  <input type="button" class="btn btn-s fleft" value="Small" />
  <input type="button" class="btn btn-s btn-secondary fleft" value="Small" />
</p>
