<!-- Button with icon -->
<p>
  <a href="#" class="btn btn-secondary"><span class="icon-info"></span>Icon button</a>
</p>
<p>
  <a href="#" class="btn btn-secondary btn-m"><span class="icon-info"></span>Icon button middle</a>
</p>
<p>
  <a href="#" class="btn btn-secondary btn-s"><span class="icon-info"></span>Icon button small</a>
</p>

<!-- Icon button -->
<div>
  <a href="#" class="btn-icon inline-block grey-color"><span class="icon-editar"></span>Editar</a>
  <a href="#" class="btn-icon inline-block blue-color"><span class="icon-estadistiques2"></span>Estadísticas</a>
  <a href="#" class="btn-icon inline-block red-color"><span class="icon-borrar"></span>Borrar</a>
</div>
