<p style="padding: 1rem;">
  <!-- Botó acció primaria -->
  {% include components/mt-Button/mt-Button.html componentName="primary" %}

  <!-- Botó acció secundaria -->
  {% include components/mt-Button/mt-Button.html componentName="secondary" %}

  <!-- Botó acció terciaria -->
  {% include components/mt-Button/mt-Button.html componentName="tertiary" %}

  <!-- Botó dark border -->
  {% include components/mt-Button/mt-Button.html componentName="dark_border" %}
</p>

<p style="background-color: #999; padding: 1rem;">
  <!-- Botó light border -->
  {% include components/mt-Button/mt-Button.html componentName="light_border" %}
</p>
