$color-color-sample-text: #ffffff;

// COLOR LIST
// ----------------------------------------------------------------------------
.drv-ColorList {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    margin-bottom: 1rem;
  }
}

// COLOR LIST
// --------------------------------------------------------
.drv-ColorSample {
  color: $color-color-sample-text;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5rem;
  padding: 1.25rem;
  text-align: center;

  > :last-child {
    margin-bottom: 0;
  }
}

.drv-ColorSample-name {
  margin-bottom: .25rem;
}

.drv-ColorSample-code {
  font-weight: 600;
}
