$bg-page-hero: $c-neutro-lighter;
$color-page-hero-title: $c-headings;
$color-page-hero-text: $c-headings;

// PAGE HERO
// ----------------------------------------------------------------------------

.drv-PageHero {
  background-color: $bg-page-hero;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, .25);
  margin-bottom: 2.5rem;
  padding: 3rem;
  position: relative;

  &-title {
    color: $color-page-hero-title;
    font-size: 3rem;
    font-weight: 300;
    line-height: 4rem;
    margin-bottom:  1.25rem;
  }

  &-text {
    color: $color-page-hero-text;
    font-family:  $font-stack-title;
    font-size: 1.25rem;
    line-height: 1.75rem;

    p {
      margin-bottom: 0;
    }
  }
}
