<footer>
  <!-- control footer -->
  <div id="footer">
    <div id="social" class="clearfix">
      <div class="fleft clearfix">
        <a href="https://www.facebook.com/Coches.net" target="_blank" data-xtclib="Social_Facebook" class="facebook ani-color"><span class="icon-facebook"></span></a>
        <span class="separator"></span>
        <a href="https://twitter.com/Cochesnet" target="_blank" data-xtclib="Social_Twitter" class="twitter ani-color"><span class="icon-twitter"></span></a>
        <span class="separator"></span>
        <a href="https://plus.google.com/109554482904505094301/posts" target="_blank" data-xtclib="Social_GooglePlus" class="google ani-color"><span class="icon-google"></span></a>
        <span class="separator"></span>
        <a href="http://www.youtube.com/user/cochesnet" target="_blank" data-xtclib="Social_YouTube" class="youtube ani-color"><span class="icon-youtube"></span></a>
      </div>

    </div>
    <div id="footer-links" class="clearfix">
      <div class="fleft">
        <h4>¿Necesitas ayuda?</h4>
        <ul class="fleft">
          <li><a href="/Ayuda.aspx" data-xtclib="Footer_Preguntas">Ayuda</a></li>
          <li><a href="/condiciones-de-uso.aspx" data-xtclib="Footer_CondicionesUso">Condiciones de uso</a></li>
          <li><a href="/condiciones-de-uso.aspx#cookies" data-xtclib="Footer_PoliticaCookies">Política de cookies</a></li>
          <li><a href="/condiciones-de-uso.aspx#privacidad" data-xtclib="Footer_PoliticaPrivacidad">Política de privacidad</a></li>
        </ul>
        <ul class="fleft">
          <li><a href="/guia-seguridad-compra-venta-coches.aspx" data-xtclib="Footer_Guia">Guía de seguridad</a></li>
          <li><a href="/mapa-web.aspx" data-xtclib="Footer_MapaWeb">Mapa web</a></li>
          <li><a href="http://desarrolladores.coches.net" data-xtclib="Footer_HerramientasWebmaster">Herramientas para webmasters</a></li>
          <li><a href="http://prensa.coches.net" data-xtclib="Footer_SalaPrensa">Sala de prensa</a></li>
        </ul>
      </div>
      <div class="fright">
        <h4>En tu móvil o tablet</h4>
        <a href="https://itunes.apple.com/es/app/coches.net/id333895109" target="_blank" data-xtclib="Footer_AppStore" class="appstore trackable" data-event_type="view" data-event_name="download_app_ios" data-fake_page="1"></a>
        <a href="https://play.google.com/store/apps/details?id=coches.net" target="_blank" data-xtclib="Footer_GooglePlay" class="playstore trackable" data-event_type="view" data-event_name="download_app_android" data-fake_page="1"></a>
      </div>
    </div>
    <div id="schibsted" class="center">
      <p><a href="http://www.schibsted.com/" class="logo-schibsted" title="Schibsted Classified Media Spain"></a></p>
      <p>Otras webs de Schibsted: <a href="http://www.motos.net" data-xtclib="Footer_MotosNet" target="_blank">motos.net</a> · <a href="http://www.vehiculosindustriales.net" data-xtclib="Footer_VI" target="_blank">vehiculosindustriales.net</a> · <a href="http://www.segundamano.es" data-xtclib="Footer_Segundamano" target="_blank">segundamano.es</a> · <a href="http://www.fotocasa.es" data-xtclib="Footer_Fotocasa" target="_blank">fotocasa.es</a> · <a href="http://www.infojobs.net" class="ani" data-xtclib="Footer_Infojobs" target="_blank">infojobs.net</a> · <a href="http://www.milanuncios.com" data-xtclib="Footer_Milanuncios" target="_blank">milanuncios.com</a></p>
      <p>Coches.net cumple la Ley orgánica 15/1999 de 13 de diciembre de protección de datos de carácter personal<br>© 2015 Schibsted Classified Media Spain S.L.</p>
    </div>
  </div>
  <!-- fi control publi lateral -->
</footer>
