<div class="topbar nav-slide clearfix">
  <div class="content">
    <div class="topbar_logo-wrap">
      <a href="#"
         class="nav-slide_open-btn hide--in-desktop"
         data-navslide="open">
        <span class="icon-menu"></span>
      </a>
      <a class="topbar_logo logo" href="index.html"><b>Drive</b></a>
    </div>

    <div class="nav-slide_mask" data-navslide="close"></div>

    <header class="nav-slide_content">
      <nav class="topbar_main-nav">
        <ul class="nav clearfix">
          <li>
          <a class="nav_btn" href="legacy-start.html">Legacy Start</a>
          </li>
          <li>
          <a class="nav_btn" href="legacy-grid.html">Legacy Grid</a>
          </li>
          <li>
          <a class="nav_btn" href="legacy-CSS.html">Legacy CSS</a>
          </li>
          <li>
          <a class="nav_btn" href="legacy-components.html">Legacy Components</a>
          </li>
          <li>
            <a class="nav_btn" href="docs/motor-brand-manual.pdf" id="pdf-icon" target="_blank">Brand Manual</a>
          </li>
        </ul>
      </nav>
    </header>
  </div>
</div>
