<div class="topbar nav-slide clearfix">
  <div class="content">
    <div class="topbar_logo-wrap">
      <a href="#"
         class="nav-slide_open-btn hide--in-desktop"
         data-navslide="open">
        <span class="icon-menu"></span>
      </a>
      <a class="topbar_logo logo" href="index.html"><b>Drive</b></a>
    </div>

    <div class="nav-slide_mask" data-navslide="close"></div>

    <header class="nav-slide_content">
      <nav class="topbar_main-nav">
        <ul class="nav clearfix">

          {% for item in site.data.[component].data.menu.[page.version] %}
            <li>
              <a href="{{ item.href }}" class="nav_btn">{{ item.text }}</a>
            </li>
          {% endfor %}

        </ul>
      </nav>
    </header>
  </div>
</div>
