<div id="exemple-dialeg"
     class="mt-Modal"
     data-modal="modal"
     style="display: block; opacity: 1; position: static; transform: none; z-index: 1;">

    <div class="mt-Modal-header">
        <h3 class="mt-Modal-title">{{ site.data.[component].data.modal_title }}</h3>
        <div class="mt-Modal-closeBtn" data-modal="close">
            <span class="icon-tancar2"></span>
        </div>
    </div>

    <div class="mt-Modal-body">
      {% include mt-Modal/elements/mt-Modal-content.html %}
    </div>

    <div class="mt-Modal-footer">
        <input type="button" class="btn btn-s mgright10" value="Acció secundaria">
        <input type="button" class="btn btn-s btn-border-dark" value="Acció alternativa">
    </div>
</div>
