<form action="" class="mt-BasicForm">
  <fieldset>
    <legend>User Login</legend>

    <div class="mt-BasicForm-group">
      <label for="input-text">Input text</label>
      <input id="input-text" type="text" placeholder="Enter your name">
    </div>

    <div class="mt-BasicForm-group">
      <label for="input-mail">Input mail</label>
      <input id="input-mail" type="mail" placeholder="Enter your mail (example@mail.com)">
    </div>
    <div class="mt-BasicForm-group">
      <label for="input-password">Input password</label>
      <input id="input-password" type="password" placeholder="Enter password (min. 8 characters)">
    </div>
  </fieldset>

  <fieldset>
    <legend>Select and Textarea</legend>

    <div class="mt-BasicForm-group">
      <label for="select">Select</label>
      <select id="select">
        <option value="">Option 1</option>
        <option value="">Option 2</option>
        <option value="">Option 3</option>
        <option value="">Option 4</option>
      </select>
    </div>

    <div class="mt-BasicForm-group">
      <label for="textarea">Textarea</label>
      <textarea id="textarea" placeholder="Write some text here..."></textarea>
    </div>
  </fieldset>

  <fieldset>
    <legend>Checkbox and radio button</legend>
    <div class="mt-BasicForm-group">
      <label for="input-checkbox">
        <input id="input-checkbox" type="checkbox">
        Checkbox
      </label>
    </div>

    <div class="mt-BasicForm-group">
      <label for="input-radio">
        <input id="input-radio" type="radio">
        Radio
      </label>
    </div>
  </fieldset>
</form>
