<footer>
    <div class="content">
        <div class="fleft">
            <nav>
                <ul class="nav">
                    <li><a class="logo" href="index.html"><b>Drive</b></a></li>
                    <li><a href="start.html">Start</a></li>
                    <li><a href="grid.html">Grid</a></li>
                    <li><a href="CSS.html">CSS</a></li>
                    <li><a href="components.html">Components</a></li>
                    <li><a href="docs/cochesGuideLines.pdf" id="pdf-icon" target="_blank">Brand Manual</a></li>
                </ul>
            </nav>
            <p class="mgtop20">© 2014 All Rights Reserved Motor UX ;)</p>
        </div>
        <div class="fright mgtop10"><img src="img/logo-footer.png" /></div>
        <div class="clear"></div>
    </div>
</footer>
