$bg-code: #EEF6F9;
$color-code: #E84C3D;

html {
  font-size: 100%;
}
body {
  font-family: $font-stackText;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl {
  margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stackTitle;
}

code {
  background: $bg-code;
  color: $color-code;
  font-weight: 600;
}
