$bg-body: #f5f0ec;
$color-page-hero-title: #666666;
$color-page-hero-text: #202020;

// PAGE LAYOUT
// ----------------------------------------------------------------------------
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $bg-body;
  margin: 0;
}

.drv-Wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 970px;
}
