// DEMO STYLES
.mt-Grid-container {
  background-color: #ffffff;
}

.drv-GridDemo [class*='grid-'] {
  background: rgba(210, 170, 0, .3);
  border: 1px solid rgba(200, 100, 0, 1);
  margin-bottom: 1rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  text-align: center;
}

.drv-GridDemo code {
  color: #333333;
  background: rgba(255, 100, 0, .2);
  display: block;
  font-size: .9rem;
  padding: .5rem 0;
}

.modulo {
  background: rgba(0, 0, 100, .2);
  margin: 1rem 0 .5rem;
}
