$mq-mobile:             320px;
$mq-mobile-landscape:   480px;
$mq-tablet:             768px;
$mq-desktop:            970px;
$mq-wide:               1320px;

$f-coches: 'coches';
$font: $f-coches;

$link-color: #4585f2;
$link-hover-color:darken( $link-color, 5% );

$green-color:        #27AE60;
$orange-color:       #F39C12;
$red-color:          #e74c3d;
$blue-color:         #4585f2;
$grey-color:         #999;
$turquoise-color:    #007a87;

$lightest-grey-color:   #fcfaf9;
$lighter-grey-color:    #f5f0ec;
$light-grey-color:      #e1dedc;
$grey-color:            #c7c3c0;
$dark-grey-color:       #999;
$darker-grey-color:     #333;
$darkest-grey-color:    #202020;

$focus-color:#bbb;

.red-color{color:$red-color !important}
.blue-color{color:$blue-color !important}
.grey-color{color:$grey-color !important}
.light-grey-color{color:$light-grey-color !important}
.turquoise-color{color:$turquoise-color !important}
.orange-color{color:$orange-color !important}
.green-color{color:$green-color !important}

.red-bg{ background-color:$red-color !important; color:#fff}
.blue-bg{ background-color:$blue-color !important; color:#fff}
.grey-bg{ background-color:$grey-color !important; color:#fff}
.light-grey-bg{ background-color:$light-grey-color !important; color:#333}
.turquoise-bg{ background-color:$turquoise-color !important; color:#FFF}
.orange-bg{ background-color:$orange-color !important; color:#fff}
.green-bg{ background-color:$green-color !important; color:#fff}
