// TOAST
// ----------------------------------------------------------------------------
.mt-toast {
    box-sizing: border-box;
    background-color: white;
    border-bottom: 4px solid;
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
    padding-bottom: 24px;
    text-align: center;

    [class^="icon"] {
        display: inline-block;
        font-size: 48px;
        line-height: 1;
        margin-bottom: 8px;
        padding-top: 24px;
        padding-bottom: 0;
        padding-left: 24px;
        padding-right: 24px
    }
    &__title {
        color: white;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
    &__text {
        color: $dark-grey-color;
        font-family: Arial, Verdana;
        font-size: 16px;
        line-height: 1.45;
        margin-bottom: 16px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 24px;
        padding-right: 24px;
    }
    > :last-child {
        margin-bottom: 0;
    }


    // MODIFIERS
    // --------------------------------------------------------
    &--ok          {
        color: $green-color;

        .mt-toast__title { background-color: $green-color; }
    }
    &--info        {
        color: $blue-color;

        .mt-toast__title { background-color: $blue-color; }
    }
    &--warning     {
        color: $orange-color;

        .mt-toast__title { background-color: $orange-color; }
    }
    &--error       {
        color: $red-color;

        .mt-toast__title { background-color: $red-color; }
    }

    &--fixed {
        margin: 0 auto;
        position: fixed;
            top: 50%;
            left: 0;
            right: 0;
        transform: translateY(-50%);
        width: 100%;
        min-width: 168px;
        max-width: 200px;
        z-index: 11000;
    }
}
