<div id="right-nav" class="side">
    <ul class="side-nav list">
        <li>
            <span>Drive CDN</span>
            <ul>
                <li><a class="go" href="#install-drive">Links</a></li>
            </ul>
        </li>
        <li>
            <span>Drive</span>
            <ul>
                <li><a class="go" href="#estructura-drive">Structure</a></li>
            </ul>
        </li>
        <li>
            <span>SASS</span>
            <ul>
                <li><a class="go" href="#arquitectura-sass">Architecture</a></li>
            </ul>
        </li>
    </ul>
</div>
